#container {
    width: 400px;
    height: 600px;
}

#board-container {
    position: relative;
    display: none
}

.canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 600px;
}

#active-pieces {
    z-index: 1;
}

#inactive-pieces {
    background-color: #f5f5f5;
    z-index: 0;
}

#next-pieces {
    position: absolute;
    top: 0;
    left: 400px;
    width: 100px;
    height: 600px;
}

#winner {
    position: absolute;
    z-index: 2;
    top: 150px;
    left: 90px;
    width: 320px;
    height: 200px;
    display: none;
    border: 1px solid black;
    background-color: white;
}